TOKEN="your_telegram_bot_token"
ADMINS=123456789,987654321

AD_BIND_USER="CN=svc-bot,OU=ServiceAccounts,DC=example,DC=local"
AD_BIND_PASSWORD="your_bind_password"

LDAP_SERVER="ldap://dc01.example.local"
DOMAIN="example.local"
BASE_DN="DC=example,DC=local"
MAIL_DOMAIN="example.local"

PC_SEARCH_BASE="OU=Computers,DC=example,DC=local"
USER_SEARCH_BASE="OU=Users,OU=Moscow,DC=example,DC=local"
GROUP_SEARCH_BASE="OU=Groups,DC=example,DC=local"
VPN_ACCESS_GROUP="VPNUsers"

GROUP_PERM_MAPPING='{
        "ZetaCompBotAdmin": ["admin"],
        "ZetaCompBotUserManager": ["newuser", "blockuser", "listusers"]
    }'

# Группы для разных типов пользователей
USER_GROUP_MAPPING='{
        "Оператор": ["OperatorsRole"], 
        "Моделист": ["ModelistRole"], 
        "Проектный Менеджер": ["ProjectManagerRole"],
        "Отдел Кап.Строительства": ["CapitalConstructionsRole"],
        "ИТ": ["ITRole"]
    }'

# Organizational Units для разных типов пользователей
USER_OU_MAPPING='{
        "Оператор": "OU=Operators,OU=Users,OU=Moscow", 
        "Моделист": "OU=Modelists,OU=Users,OU=Moscow", 
        "Проектный Менеджер": "OU=Managers,OU=Users,OU=Moscow",
        "Отдел Кап.Строительства": "OU=CapitalConstructions,OU=Users,OU=Moscow",
        "ИТ": "OU=IT,OU=Users,OU=Moscow"
    }'

NEW_USER_TEMP_PASS="Temp1234"

DISABLED_OU="OU=Disabled,DC=example,DC=local"

PROXY_URL=socks5h://192.168.132.113:1080

SUPPORT_CHAT_ID=2649605302

MAC_SYNC_INTERVAL_SECONDS=3600